@use "./component/-variable.scss";
@use "./component/-reset.scss";
@use "./component/-global.scss";
@use "./component/-header.scss";
@use "./component/-bio.scss";
@use "./component/skills.scss";
@use "./component/-media.scss";
@use "./component/-projects.scss";
@use "./component/-clints.scss";
@use "./component/-contact.scss";
@use "./component/-folder.scss";
@use "./component/-them.scss";
@use "./component/-respons.scss";
