.clients_opinions {
  display: grid;
  grid-template-columns: 1/-1;
  font-size: var(--font-size-20);
  /* line-height: 1.7rem; */
}
.clients_wropper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.clients_opinion {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}
