html {
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
  font-size: 62.5%;
}
body,
[type="submit"] {
  font-size: 1rem;
  font-family: var(--font-family-raleway);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 0;
}
.continer {
  margin: 0 auto;
  max-width: 1200px;
}
.video_loop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.7;
  z-index: -1;
}
.section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
  position: relative;
}
.section_with_bg {
  padding: 11rem 0;
}
.section_with_bg::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100%;
  background-color: var(--color-grey);
  justify-self: center;
  z-index: -1;
}
.h2_heading {
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-bold);
  grid-column: 1/-1;
  margin-bottom: 8.7rem;
}
.h3_heading {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2.5rem;
}
